<tr class="clickable {{row_class}}" data-action="show-drilldown" data-table="{{table_name}}">
    <td><strong>{{table_name}}{{all_warnings}}</strong></td>
    <td><span class="status-badge status-{{status_class}}">{{status_text}}</span></td>
    <td>{{initial_rows_formatted}}</td>
    <td><span class="{{quality_issues_class}}">{{quality_issues_display}}</span></td>
    <td><span class="{{harmonization_class}}">{{harmonization_display}}</span></td>
    <td>{{final_rows_formatted}}</td>
    <td>{{row_per_patient}}</td>
</tr>
