<tr{{row_class}}>
    <td><strong>{{category}}</strong></td>
    <td class="pass-cell">{{pass_verification}}</td>
    <td class="fail-cell">{{fail_verification}}</td>
    <td>{{total_verification}}</td>
    <td><strong>{{percent_pass_verification}}</strong></td>
    <td class="pass-cell">{{pass_validation}}</td>
    <td class="fail-cell">{{fail_validation}}</td>
    <td>{{total_validation}}</td>
    <td><strong>{{percent_pass_validation}}</strong></td>
    <td class="pass-cell">{{pass_total}}</td>
    <td class="fail-cell">{{fail_total}}</td>
    <td>{{total_total}}</td>
    <td><strong>{{percent_pass_total}}</strong></td>
</tr>
